:root {
  --background-black: #181818;
  --primary-black: #282828;
  --primary-white: #f5eeff;
  --accent-color: #d6b5ff;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Gamja Flower", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-black);
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  z-index: 99;
}

.main-nav {
  background-color: var(--primary-black);
  padding: 10px;
  border-radius: 50px;
  width: 60rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 2.5rem;
}

.second-nav {
  background-color: var(--primary-black);
  padding: 10px;
  border-radius: 50px;
  width: 17rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-cards-menu {
  width: 95%;
  height: auto;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary-black);
  border-radius: 1em;
  padding: 2rem;
  justify-self: center;
}

.container-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5rem;
}

.title-top-rated {
  color: var(--accent-color);
  font-size: 6rem;
  margin-bottom: 1rem;
}

.card {
  width: 260px;
  height: 425px;
  border-radius: 1em;
  padding: 1.9rem;
  position: relative;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 20px var(--accent-color);
  overflow: hidden;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s;
}

.card-overview {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  position: relative;
  z-index: 3;
  background-color: var(--primary-white);
  opacity: 1;
  border-radius: 1em;
}

.card-info {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  position: relative;
  z-index: 4;
  background-color: var(--primary-white);
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
  border-radius: 1em;
}

.card-overview h2 {
  font-size: 2.7rem;
  margin-bottom: 0.5rem;
  line-height: 1.9rem;
}

.card-year {
  font-size: 2rem;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 1.5rem;
  line-height: 1.2rem;
}

.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover {
  transform: translateY(5%);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .card-img {
  filter: blur(2px);
}

.card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
}

.card:hover .card-overview {
  filter: blur(2px);
}